{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'chipi/css/style-account-vhod.css' %}">
<script src="{% static 'chipi/js/login.js' %}"></script>
<div class="account">
	<form action="" method="post">
        <div class="account-a">
            <a href="{% url 'users:login' %}">
                <p class="account-a1">Войти</p>
            </a>
            <a href="{% url 'users:register' %}">
                <p class="account-a2">Регистрация</p>
            </a>
        </div>
        <div class="poloski">
            <div class="poloska1"></div>
            <div class="poloska2"></div>
        </div>
		<div class="account-p" style="color: #FF4242;">
			{{ form.non_field_errors }}
		</div>
        <div class="account-p">
            <p class="account-p1">Email адрес</p>
<!--        <input class="account-p-input" type="email">-->
			{{ form.username }}
			{{ form.username.errors }}
        </div>
        <div class="parol">
            <div class="parol-p">
                <p class="parol-p1">Пароль</p>
                <a href="index-parol.html">
                    <p class="parol-p2">Восстановить пароль</p>
                </a>
            </div>
            <div class="parol-btn">
<!--                <input class='parol-password' name="password" type="password" id="password">-->
					{{ form.password }}
					{{ form.password.errors }}
                <button class="parol-button" id="parol">
                    <img src="{% static 'chipi/images/Eye.svg' %}" alt="eye">
                </button>
            </div>

        </div>
        <div class="account-btn">
            <button class="account-btn1" type="submit">
                <img src="{% static 'chipi/images/ArrowRight.png' %}" alt="">
            </button>
        </div>
	</div>
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">
	</form>
{% endblock %}