{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'chipi/css/profile.css' %}">

<div class="first-line">

        <div class="panel">
            <div class="panel-1">
                <img class="panel-1-img" src="{% static 'chipi/images/ArrowsCounterClockwise1.svg' %}" alt="6">
                <a href="{% url 'users:password_change' %}"><p class="panel-1-p">Сменить пароль</p></a>
            </div>
            <div class="panel-2">
                <img class="panel-2-img" src="{% static 'chipi/images/Stack1.svg' %}" alt="1">
                <a href="{% url 'users:profile' %}"><p class="panel-2-p">Аккаунт</p></a>
            </div>
            <div class="panel-2">
                <img class="panel-2-img" src="{% static 'chipi/images/Notebook1.svg' %}" alt="7">
                <a href="{% url 'users:address' %}"><p class="panel-2-p">Карты и адреса</p></a>
            </div>


            <div class="panel-2">
                <img class="panel-2-img" src="{% static 'chipi/images/Storefront1.svg' %}" alt="2">
                <a href="{% url 'orders' %}"><p class="panel-2-p">История заказов</p></a>
            </div>
<!--            <div class="panel-2">-->
<!--                <img class="panel-2-img" src="{% static 'chipi/images/MapPinLine1.svg' %}" alt="3">-->
<!--                <a href="index-zakaz.html"><p class="panel-2-p">Отследить заказ</p></a>-->
<!--            </div>-->
            <div class="panel-2">
                <img class="panel-2-img" src="{% static 'chipi/images/ShoppingCartSimple1.svg' %}" alt="4">
                <a href="{% url 'cart' %}"><p class="panel-2-p">Корзина</p></a>
            </div>
            <div class="panel-2">
                <img class="panel-2-img" src="{% static 'chipi/images/Heart1.svg' %}" alt="5">
                <a href="{% url 'favorites' %}"><p class="panel-2-p">Список желаний</p></a>
            </div>


            <div class="panel-2">
                <img class="panel-2-img" src="{% static 'chipi/images/Gear1.svg' %}" alt="8">
                <a href="{% url 'users:profile' %}"><p class="panel-2-p">Настройки</p></a>
            </div>
            <div class="panel-2">
                <img class="panel-2-img" src="{% static 'chipi/images/SignOut1.svg' %}" alt="9">
                <a href="{% url 'users:logout' %}"><p class="panel-2-p">Выйти из аккаунта</p></a>
            </div>
        </div>

        <form action="" method="post">
            {% csrf_token %}
        <div class="settings-1">
        <div class="settings-p">
            <p class="parol-1-p">ИЗМЕНИТЬ ПАРОЛЬ</p>
        </div>
         {% if form.non_field_errors %}
                <div class="account-p" style="color: #FF4242;">
			        {{ form.non_field_errors }}
		        </div>
        {% endif %}
        <div class="parol-2">
            <div class="parol-21">
                <p class="parol-21-p">Введите нынешний пароль</p>
                <div class="parol-21-1">
<!--                    <input class="parol-21-1-input" type="password" id="password-1">-->
                                {{ form.old_password }}
                </div>
                <div class="parol-21-e">{{ form.old_password.errors }}</div>
            </div>
            <div class="parol-21">
                <p class="parol-21-p">Новый пароль</p>
                <div class="parol-21-1">
<!--                    <input class="parol-21-1-input" type="password" id="password-2" placeholder="Минимум 8 символов">-->
                                {{ form.new_password1 }}
                </div>
                <div class="parol-21-e">{{ form.new_password1.errors }}</div>
            </div>
            <div class="parol-21">
                <p class="parol-21-p">Подтвердите пароль</p>
                <div class="parol-21-1">
<!--                    <input class="parol-21-1-input" type="password" id="password-3">-->
                                {{ form.new_password2 }}
                </div>
                <div class="parol-21-e">{{ form.new_password2.errors }}</div>
            </div>

            <div class="adress-btn">
                <button class="adress-button" type="submit">
                    <p class="adress-button-p">СОХРАНИТЬ</p>
                </button>
            </div>
        </div>
        </div>
        </form>
    </div>
<br><br><br><br><br><br>

<!--<h1>Change password</h1>-->
<!--    <form action="" method="post">-->
<!--        {% csrf_token %}-->
<!--         <input type="hidden" name="next" value="{{ next }}">-->
<!--        <div class="form-error">{{ form.non_field_errors }}</div>-->
<!--        {% for f in form %}-->
<!--            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>-->
<!--            <div class="form-error">{{ f.errors }}</div>-->
<!--        {% endfor %}-->
<!--        <p><button type="submit">Change password</button></p>-->
<!--    </form>-->
{% endblock %}