* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,*:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.option {
    background-color: #fff;
    color: black;
}

.header-line2 {
    background-color: #81D17C;
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 850px;
}

.header-line1-p1 {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    margin-left: 15px;
}

.header-line1-img1 {
    width: 35px;
    height: 55px;
}

.header-line1-input {
    border-top-left-radius:  12px;
    border-bottom-left-radius:  12px;
    width: 500px;
    height: 40px;
    padding: 14px 20px;
    margin-left: 70px;
    font-size: 14px;
}

.header-line1-btn1 {
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header-line1-img2 {
    padding: 12px;
    height: 40px;
}

.header-line1-img3 {
    width: 28px;
    height: 28px;
    margin-left: 100px;
}

.header-line1-img4 {
    width: 28px;
    height: 28px;
    margin-left: 30px;
}

.header-line1-img5 {
    width: 28px;
    height: 28px;
    margin-left: 30px;
}

.header-line3 {
    background-color: #D5F0D3;
    display: flex;
    align-items: center;
    min-width: 850px;
}

.category {
    display: none;
    position: absolute;
    margin-left: 200px;
    width: 170px;
    background-color: #fff;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
}

.category-p {
    padding: 10px 0px 10px 15px;
    color: #5F6C72;
}
.category-p:hover {
    background-color: #F2F4F5;
    color: #191C1F;
    cursor: pointer;
}
.header-line3-new-img {
    background-color: #F2F4F5;
    margin-left: 16px;
    margin-top: 6px;
}
.header-line3-new {
    display: flex;
    width: 148px;
    height: 38px;
    margin: 10px 40px 10px 200px;
    padding: 10px;
    background-color: #F2F4F5;
    border-radius: 2px;
}

.header-line3-a1 {
    color: #5f6c72;
    margin-left: 5px;
    transition: 0.3s;
}

.header-line3-a2 {
    color: #5f6c72;
    margin-left: 7px;
    transition: 0.3s;
}

.header-line3-a3 {
    color: #5f6c72;
    margin-left: 5px;
    transition: 0.3s;
}

.header-line3-a4 {
    color: #5f6c72;
    font-size: 16px;
    margin-left: 5px;
    transition: 0.3s;
}

.header-line3-img1 {
    margin-left: 10px;
}


.header-line3-img2 {
    margin-left: 20px;
}

.header-line3-img3 {
    margin-left: 20px;
}

.header-line3-img4 {
    margin-left: 290px;
}

.header-line3-a1:hover {
    color: #2DB224;
    transition: 0.3s;
}

.header-line3-a2:hover {
    color: #2DB224;
    transition: 0.3s;
}

.header-line3-a3:hover {
    color: #2DB224;
    transition: 0.3s;
}

.header-line3-a4:hover {
    color: #2DB224;
    transition: 0.3s;
}
.vopros {
    display: flex;
    margin-left: 200px;
}

.vopros11 {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.vopros1-p1 {
    margin-top: 70px;
    font-weight: 600;
    font-size: 20px;
}

.vopros1-p2 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

.vopros1-img1 {
    border-top: 1px solid #E4E7E9;
    border-left: 1px solid #E4E7E9;
    border-bottom: 1px solid #E4E7E9;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 11px 8px 11px 15px;
}

.vopros1-input {
    padding: 15px;
    border-top: 1px solid #E4E7E9;
    border-bottom: 1px solid #E4E7E9;
}

.vopros111 {
    border-top: 1px solid #E4E7E9;
    border-bottom: 1px solid #E4E7E9;
    border-right: 1px solid #E4E7E9;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 6px;
}

.vopros1-p3 {
    padding: 11px 15px 10px 15px;
    font-weight: 600;
    color: #fff;
    font-size: 11px;
}

.vopros1-btn {
    border-radius: 2px;
    background-color: #2DB224;
    margin-left: 50px;
}

.vopros1-btn:hover {
    background-color: #57be4f;
    transition: 0.5s;
}

.vopros2 {
    margin-left: 330px;
    margin-top: 40px;
}

.vopros2-img1 {
    width: 280px;
}

.hr {
    border-top: 1px solid #E4E7E9;
    margin-top: 10px;
}

.vopros3 {
    margin-top: 50px;
}

.vopros3-p1 {
    text-align: center;
    color: #191C1F;
    font-weight: 600;
    font-size: 20px;
}

.vopros4 {
    display: flex;
    margin-top: 50px;
    margin-left: 190px;
}

.perenos {
    display: flex;
}
.vopros4-1 {
    display: flex;
    border: 2px solid #D5F0D3;
    align-items: center;
    margin-left: 10px;
    width: 270px;
    border-radius: 2px;
}

.vopros4-img1 {
    padding: 15px 20px 15px 15px;
}

.vopros4-p1 {
    color: #191C1F;
    font-weight: 500;
}

.vopros5 {
    display: flex;
    margin-top: 20px;
    margin-left: 190px;
}

.vopros4-1:hover {
    border: 2px solid #2DB224;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}

.hr2 {
    border-top: 1px solid #E4E7E9;
    margin-top: 40px;
}

.vopros6-p1 {
    margin-top: 45px;
    color: #191C1F;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 45px;
    margin-left: 40px;
}

.vopros7 {
    display: flex;
    margin-left: 100px;
    padding-bottom: 70px;
}

.vopros7-1 {
    margin-left: 100px;
}

.vopros7-a {
    color: #191C1F;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}


.vopros7-a:hover {
    color:#2DB224;
    transition: 0.3s;
}


.vopros7-li::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #191C1F;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

.vopros7-li:hover::before {
    background-color: #2DB224;
    color: #2DB224;
    transition: 0.3s;
}

.vopros8 {
    background-color:#F2F4F5;
    padding-bottom: 70px;
    padding-top: 30px;
}

.vopros8-1-p1 {
    display: block;
    color: #fff;
    background-color: #2DB224;
    font-weight: 600;
    width: 135px;
    margin-left: 660px;
    padding: 10px 13px;
    border-radius: 2px;
}

.vopros8-1-p2 {
    display: block;
    text-align: center;
    color: #191C1F;
    font-weight: 600;
    margin-top: 30px;
    font-size: 22px;
    line-height: 30px;
}

.vopros8-2 {
    display: flex;
    margin-left: 290px;
    margin-top: 50px;
}

.vopros8-2-1 {
    display: flex;
    background-color: #fff;
    width: 450px;
    height: 160px;
    box-shadow: 1px 1px 4px #8c9297;
}

.vopros8-2-12-btn {
    display: flex;
    align-items: center;
}

.vopros8-2-11-img {
    width: 70px;
}

.vopros8-2-11 {
    padding: 25px;
}

.vopros8-2-2 {
    display: flex;
    background-color: #fff;
    width: 450px;
    height: 160px;
    margin-left: 30px;
    box-shadow: 1px 1px 4px #8c9297;
}

.vopros8-2-12-p1 {
    padding-top: 25px;
    font-weight: 600;
    font-size: 16px;
}

.vopros8-2-12-p2 {
    padding-top: 15px;
    font-size: 18px;
}

.vopros8-2-12-btn {
    background-color: #2DB224;
    border-radius: 2px;
    width: 200px;
    margin-top: 25px;
}

.vopros8-2-12-btn-p1 {
    color: #fff;
    padding: 12px 10px 12px 20px;
    font-weight: 700;
}

.vopros8-2-12-btn:hover {
    background-color: #57be4f;
    transition: 0.5s;
}

.bottom {
    display: flex;
    background-color: #191C1F;
    padding-bottom: 60px;
    min-height: 400px;
    max-height: 600px;
    min-width: 850px;
}

.bottom1 {
    display: block;
    margin-left: 300px;
    margin-top: 100px;
    padding-bottom: 10px;
}

.bottom2 {
    display: block;
    margin-top: 100px;
    margin-left: 100px;
}

.bottom1-line1 {
    display: flex;
    align-items: center;
}

.bottom1-p1 {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    margin-left: 15px;
}

.bottom1-p2 {
    color: #77878F;
    margin-top: 30px;
}

.bottom1-p3 {
    margin-top: 20px;
    color: #fff;
}

.bottom2-p1 {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.bottom2-p2 {
    color: #929FA5;
    margin-top: 20px;
}

.bottom2-vse-tovary {
    display: flex;
    align-items: center;
}

.bottom2-p7 {
    color: #57C150;
    margin-top: 20px;
}

.bottom2-img1 {
    margin-top: 20px;
    margin-left: 10px;
}

.bottom2-p2:hover {
    color: #938C8C;
    transition: 0.3s;
}

.bottom2-p7:hover {
    color: #04700f;
    transition: 0.3s;
}

.bottom1-p3:hover {
    color: #cce8cf;
    transition: 0.3s;
}

.buttons-btn1:hover {
    box-shadow: 2px 2px 2px #2DB224;
    opacity: 0.9;
    transition: 0.7s;
}

.buttons-btn3 {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #2DB224;
    margin-right: 20px;
    margin-left: 30px;
}

.buttons-btn3:hover {
    box-shadow: -2px 2px 2px #2DB224;
    opacity: 0.9;
    transition: 0.7s;
}

@media (max-width: 1355px) {
    .vopros4-1 {
        width: 260px;
    }
    .vopros7-1 {
        margin-left: 80px;
    }
    .vopros7 {
        margin-left: 120px;
    }
    .vopros8-1-p1 {
        margin-left: 610px;
    }
    .vopros8-2 {
        margin-left: 270px;
    }
}

@media (max-width: 1325px) {
    .bottom2 {
        margin-left: 70px;
    }

    .bottom1 {
        margin-left: 250px;
    }
    .vopros4-1 {
        width: 240px;
    }
    .vopros7-1 {
        margin-left: 60px;
    }
    .vopros7 {
        margin-left: 140px;
    }
    .vopros2 {
        margin-left: 280px;
    }
    .vopros8-1-p1 {
        margin-left: 590px;
    }
    .vopros8-2 {
        margin-left: 250px;
    }
}

@media (max-width: 1300px) {
    .header-line1-img3 {
        margin-left: 70px;
    }

    .header-line1-img4 {
        margin-left: 20px;
    }

    .header-line3-img4 {
        margin-left: 30px;
    }
}

@media (max-width: 1274px) {
    .header-line1-p1 {
        font-size: 18px;
    }

    .header-line1-input {
        width: 400px;
    }

    .header-line1-img3 {
        margin-left: 40px;
    }

    .bottom2 {
        margin-left: 60px;
    }
}

@media (max-width: 1230px) {
    .vopros4-1 {
        width: 220px;
    }
    .vopros7-1 {
        margin-left: 30px;
    }
    .vopros7 {
        margin-left: 170px;
    }
    .vopros2 {
        margin-left: 200px;
    }
    .vopros8-1-p1 {
        margin-left: 550px;
    }
    .vopros8-2 {
        margin-left: 170px;
    }
}

@media (max-width: 1160px) {
    .vopros4-1 {
        width: 200px;
    }
    .vopros4-img1 {
        padding: 15px 10px 15px 15px;
    }
    .vopros7-1 {
        margin-left: 10px;
    }
    .vopros7 {
        margin-left: 170px;
    }
    .vopros2 {
        margin-left: 120px;
    }
    .vopros8-1-p1 {
        margin-left: 500px;
    }
    .vopros8-2 {
        margin-left: 120px;
    }
}

@media (max-width: 1080px) {
    .vopros7 {
        margin-left: 130px;
    }
    .vopros {
        margin-left: 150px;
    }
    .vopros4 {
        margin-left: 150px;
    }
    .vopros5 {
        margin-left: 150px;
    }
    .vopros8-1-p1 {
        margin-left: 460px;
    }
    .vopros8-2-1 {
        width: 350px;
        margin-left: 50px;
    }
    .vopros8-2-2 {
        width: 350px;
    }
    .header-line1-input {
        width: 300px;
    }

    .header-line2 {
        padding-left: 150px;
    }

    .header-line3-new {
        margin: 10px 40px 10px 150px;
    }
    .category {
        margin-left: 150px;
    }

    .header-line3-a1 {
        font-size: 12px;
    }

    .header-line3-a4 {
        font-size: 12px;
    }

    .bottom1 {
        margin-left: 150px;
    }

    .bottom2-p2 {
        font-size: 12px;
    }

    .bottom1-p3 {
        font-size: 12px;
    }

    .bottom2-p7 {
        font-size: 12px;
    }
    .header-line3-a1 {
        font-size: 12px;
    }

    .header-line3-a4 {
        font-size: 12px;
    }
}

@media (max-width: 1030px) {
    .perenos {
        display: block;
        margin-left: 20px;
    }
    .vopros4-1 {
        width: 270px;
        margin-top: 20px;
        margin-left: 50px;
    }
    .vopros4-img1 {
        padding: 15px 20px 15px 15px;
    }
    .vopros5 {
        margin-top: 0px;
    }
    .vopros2 {
        margin-left: 30px;
    }
    .vopros7 {
        display: block;
        margin-left: 380px;
    }
    .vopros8-1-p1 {
        margin-left: 450px;
    }
}

@media (max-width: 1000px) {
    .vopros {
        margin-left: 100px;
    }
    .vopros4 {
        margin-left: 100px;
    }
    .vopros5 {
        margin-left: 100px;
    }
    .vopros8-1-p1 {
        margin-left: 430px;
    }

    .header-line1-input {
        width: 300px;
    }

    .header-line2 {
        padding-left: 100px;
    }

    .header-line3-new {
        margin: 10px 40px 10px 100px;
        width: 140px;
    }
    .header-line3-p {
        font-size: 12px;
        margin-left: 2px;
        margin-top: 1px;
    }
    .category {
        margin-left: 100px;
    }

    .bottom1 {
        margin-left: 100px;
    }
}

@media (max-width: 970px) {
    .vopros7 {
        margin-left: 320px;
    }
    .vopros8-1-p1 {
        margin-left: 400px;
    }
    .vopros8-2-1 {
        margin-left: 0px;
    }
}

@media (max-width: 890px) {
    .vopros {
        margin-left: 80px;
    }
    .vopros4 {
        margin-left: 80px;
    }
    .vopros5 {
        margin-left: 80px;
    }
    .vopros2-img1 {
        display: none;
    }
    .perenos {
        margin-left: 0px;
    }
    .vopros8-2 {
        display: block;
    }
    .vopros8-2-1 {
        width: 450px;
        margin-left: 80px;
        margin-bottom: 30px;
    }
    .vopros8-2-2 {
        width: 450px;
        margin-left: 80px;
    }
    .vopros8-1-p1 {
        margin-left: 360px;
    }
    .vopros7 {
        margin-left: 100px;
    }
    .header-line1-input {
        width: 280px;
    }

    .header-line2 {
        padding-left: 80px;
    }

    .header-line3-new {
        margin: 10px 40px 10px 80px;
    }
    .category {
        margin-left: 80px;
    }

    .bottom1 {
        margin-left: 80px;
    }
    .vopros4-1 {
        margin-left: 20px;
    }

    .bottom1-p1 {
        font-size: 20px;
    }

    .bottom1-img1 {
        height: 60px;
        width: 40px;
    }

    .bottom2 {
        margin-left: 45px;
    }

    .account {
        margin-left: 230px;
    }
}

@media (max-width: 850px) {
    .vopros {
        margin-left: 55px;
    }
    .vopros4 {
        margin-left: 55px;
    }
    .vopros5 {
        margin-left: 55px;
    }
    .vopros8-1-p1 {
        margin-left: 340px;
    }
    .header-line2 {
        padding-left: 55px;
    }

    .header-line3-new {
        margin: 10px 40px 10px 55px;
    }
    .category {
        margin-left: 55px;
    }

    .bottom1 {
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .header-line3-a4 {
        display: none;
    }

    .header-line3-img4 {
        display: none;
    }
    .header-line1-input {
        width: 240px;
    }
}
@media (max-width: 770px) {
    .vopros8-2-1 {
        margin-left: 30px;
    }
    .vopros8-2-2 {
        margin-left: 30px;
    }
    .vopros7 {
        margin-left: 70px;
    }
    .vopros {
        margin-left: 50px;
    }
    .vopros4 {
        margin-left: 50px;
    }
    .vopros5 {
        margin-left: 50px;
    }
    .vopros8-1-p1 {
        margin-left: 300px;
    }
    .header-line3-a4 {
        display: none;
    }

    .header-line3-img4 {
        display: none;
    }

    .header-line1-input {
        width: 210px;
        margin-left: 30px;
    }

    .header-line2 {
        padding-left: 50px;
    }

    .header-line3-new {
        margin: 10px 40px 10px 50px;
    }
    .category {
        margin-left: 50px;
    }

    .bottom1 {
        margin-left: 50px;
    }

    .bottom2 {
        margin-left: 34px;
    }

    .account {
        margin-left: 150px;
    }
}