{% extends 'base.html' %}

{% block content %}
    <h1>order:</h1>
    {% for p in products %}

        <p><b>{{ p.count }} x {{ p.product.title }}</b></p>
        <p style="color: grey">{{ p.product.price }}₽ / шт</p>


    {% if not forloop.last %}
    <hr>
    {% endif %}
    {% endfor %}
    <hr>
    <h2>Total amount: {{ total_sum }}₽</h2>
<br>
<hr>
    <form action="" method="post">
        {% csrf_token %}
         <input type="hidden" name="next" value="{{ next }}">
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p><button type="submit">Save</button></p>
    </form>
<br>
    <a href="{% url 'pay_order' %} "><button>Next</button></a>
<br><br><br><br><br>
{% endblock %}