{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'chipi/css/edit_order.css' %}">

<div class="dostavka">
        <img class="dostavka-img" src="{{ order.product.logo_image.url }}" alt="">
        <p class="dostavka-p">{{ order.title }}</p>
        <div class="dostavka-kolvo">
            <p class="dostavka-kolvo-p1">{{ order.count }} x </p>
            <p class="dostavka-kolvo-p2">{{ order.price }}</p>
            <img class="dostavka-kolvo-img" src="{% static 'chipi/images/icons8-рубль-32.png' %}" alt="">
        </div>

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <div class="kategory">
            <p class="kategory-p">Категории</p>
            {{ form.status }}
            {{ form.status.errors }}
        </div>
        <div class="treck">
            <p class="treck-p">Трек-номер</p>
<!--            <input class="treck-input" type="number">-->
            {{ form.track }}
            {{ form.track.errors }}
        </div>

        <div class="uppload2">
            <button class="uppload-btn" type="submit">
                <p class="uppload-p">ОТПРАВИТЬ</p>
            </button>
        </div>
    </form>

        <p class="zakaz-p">Заказ от {{ order.time_created }}</p>
        <div class="tovar">
            <p class="tovar-p">Товар:</p>
            <a href="{{ order.product.get_absolute_url }}"><p class="tovar-p1">{{ order.product.title }}</p></a>
        </div>
    </div>

{% endblock %}