{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'chipi/css/addprod.css' %}">


<form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <p class="upp">Добавление товара</p>
     <div class="account-p" style="color: #FF4242;">
			{{ form.non_field_errors }}
		</div>
        <div class="uppload">
            <div class="uppload1">
                <div class="name">
                    <p class="name-p">Название</p>
<!--                    <textarea class="name-input" name="opisanie"></textarea>-->
                    {{ form.title }}
                    <p class="name-p">{{ p.title.errors }}</p>
                </div>
                <div class="price">
                    <p class="price-p">Цена</p>
<!--                    <input class="price-input" type="number">-->
                    {{ form.price }}
                    <p class="price-p">{{ form.price.errors }}</p>
                </div>
            </div>
            <div class="uppload1">
                <div class="opisanie">
                    <p class="opisanie-p">Описание</p>
<!--                    <textarea class="opisanie-input" name="opisanie"></textarea>-->
                        {{ form.description }}
                    <p class="opisanie-p">{{ form.description.errors }}</p>
                </div>
                <div class="kolvo">
                    <p class="kolvo-p">Количество в наличии</p>
<!--                    <input class="kolvo-input" type="number">-->
                    {{ form.count }}
                    <p class="kolvo-p">{{ form.count.errors }}</p>
                </div>
            </div>
            <div class="uppload1">
                <div class="kategory">
                    <p class="kategory-p">Категории</p>
                    {{ form.prodcategory }}
                    <p class="kategory-p">{{ form.prodcategory.errors }}</p>
                </div>
            </div>
            {% if product.logo_image %}
                <p><img src="{{ product.logo_image.url }}" width="100" height="100"></p>
            {% endif %}
            <div class="uppload1">
                <div class="ava">
                    <p class="ava-p">Изображение</p>
<!--                    <input type="file">-->
                    {{ form.logo_image }}
                    <p class="kategory-p">{{ form.logo_image.errors }}</p>
                </div>
            </div>

            <p>
                {% for ph in photos %}
                    <p><img src="{{ ph.image.url }}" width="100" height="100"></p>
                {% endfor %}
            </p>
            <div class="uppload1">
                <div class="foto">
                    <p class="foto-p">Фото</p>
                    <input type="file" name = "files" multiple accept="image/*" />
                </div>
            </div>
            <div class="uppload2">
                <button class="uppload-btn" type="submit">
                    <p class="uppload-p">СОХРАНИТЬ</p>
                </button>
            </div>
        </div>
</form>


{% endblock %}