{% extends 'base.html' %}

{% block content %}

    {% for p in prod %}
    <p><b>{{ p.title|upper }}</b></p>
        {% if p.mark %}
        <p>☆{{ p.mark|floatformat:1 }}</p>
        {% else %}
        <p>☆ 0.0</p>
        {% endif %}
    <p>{{ p.price }}₽</p>
    <a href="{{ p.get_absolute_url }}">click</a>
    {% if user.is_buyer %}

    <ul>{% if p.count_in_cart %}


        <a href="{% url 'cart_decr_in_index' product_id=p.id %}"><button>-</button></a>

        {{ p.count_in_cart }}
        <a href="{% url 'cart_add' product_id=p.id %}"><button>+</button></a>

        {% else %}
            <a href="{% url 'cart_add' product_id=p.id %}">
            <button>Добавить в корзину&#128465</button>
            </a>
        {% endif %}


    </ul>

    {% endif %}

    <p>shop:<a href="{{ p.shop.get_absolute_url }}">{{ p.shop.name }}</a> </p>
    {% if not forloop.last %}
    <hr>
    {% endif %}
    {% endfor %}
{% endblock %}