{% extends 'base.html' %}
{% load static %}
{% block content %}


        <div class="tovary">
            {% for p in prod %}
            <div class="tovar">
            <a href="{{ p.get_absolute_url }}">
                <img class="tovar-img" src="{{ p.logo_image.url }}" alt="">
            </a>
            <div class="tovar-price">
                <p class="tovar-price-p1">{{ p.price }}</p>
                <img class="tovar-price-img1" src="{% static 'chipi/images/CurrencyRub.png' %}" alt="">
                <p class="tovar-price-p2">{{ p.price }}</p>
                <img class="tovar-price-img2" src="{% static 'chipi/images/icons8-рубль-32.png' %}" alt="">
            </div>
            <a href="{{ p.get_absolute_url }}">
                <p class="tovar-p">{{ p.title }}</p>
            </a>

            {% if user.is_buyer %}

                {% if p.count_in_cart %}

                <span style="display: none;" id="cart0-{{ p.id }}">
                     <div class="cart">
            <a href="{% url 'cart_add_ajax' %}" class="add-to-cart" data-product-id="{{ p.id }}">
                {% csrf_token %}
            <button class="cart-btn">
                    <img class="cart-img" src="{% static 'chipi/images/ShoppingCartSimple.png' %}" alt="">
                    <p class="cart-p">Добавить</p>
                </button>
            </a>

         {% if p in fav_prod %}
        <a href="{% url 'rem_fav' product_id=p.id %}">
             <button class="heart-btn1">
                    <img class="heart-icon" src="{% static 'chipi/images/icons8-сердце-30.png' %}" alt="">
             </button>
        </a>
        {% else %}
        <a href="{% url 'add_fav' product_id=p.id %}">
            <button class="heart-btn1">
                    <img class="heart-icon" src="{% static 'chipi/images/Heart1.svg' %}" alt="">
             </button>
        </a>
        {% endif %}

                    </div>
                </span>

        <span id="cart1-{{ p.id }}">
            <div class="quantity0">
                <div class="quantity-block">
                     <a href="{% url 'cart_decr_in_index_ajax' %}" class="cart-decr"
               data-product-id="{{ p.id }}">
                         <button class="minus-btn">
                        <img class="kolvo-img1" src="{% static 'chipi/images/icons8-минус-24.png' %}" alt="">
                    </button>
           {% csrf_token %}
                     </a>

            <p id="prod-count-{{ p.id }}" class="quantity">{{ p.count_in_cart }}</p>

            {% if p.count_in_cart == p.count %}
                <a href="{% url 'cart_add_ajax' %}" class="cart-inc" id="prod_last-{{ p.id }}"
                   data-product-id="{{ p.id }}"> <button class="plus-btn">
                        <img class="kolvo-img2" src="{% static 'chipi/images/icons8-плюс-24.png' %}" alt="">
                    </button>{% csrf_token %}</a>
                <a style="display: none;" href="{% url 'cart_add_ajax' %}" class="cart-inc" id="prod_nolast-{{ p.id }}"
                data-product-id="{{ p.id }}"> <button class="plus-btn">
                        <img class="kolvo-img2" src="{% static 'chipi/images/icons8-плюс-24.png' %}" alt="">
                    </button>{% csrf_token %}</a>
            {% else %}
                <a href="{% url 'cart_add_ajax' %}" class="cart-inc" id="prod_nolast-{{ p.id }}"
                   data-product-id="{{ p.id }}"> <button class="plus-btn">
                        <img class="kolvo-img2" src="{% static 'chipi/images/icons8-плюс-24.png' %}" alt="">
                    </button>{% csrf_token %}</a>
                <a style="display: none;" href="{% url 'cart_add_ajax' %}" class="cart-inc" id="prod_last-{{ p.id }}"
                data-product-id="{{ p.id }}"> <button class="plus-btn">
                        <img class="kolvo-img2" src="{% static 'chipi/images/icons8-плюс-24.png' %}" alt="">
                    </button>{% csrf_token %}</a>
            {% endif %}
                    <button></button>
            </div>
        {% if p in fav_prod %}
        <a href="{% url 'rem_fav' product_id=p.id %}">
             <button class="heart-btn1">
                    <img class="heart-icon" src="{% static 'chipi/images/icons8-сердце-30.png' %}" alt="">
             </button>
        </a>
        {% else %}
        <a href="{% url 'add_fav' product_id=p.id %}">
            <button class="heart-btn1">
                    <img class="heart-icon" src="{% static 'chipi/images/Heart1.svg' %}" alt="">
             </button>
        </a>
        {% endif %}


            </div>
        </span>

        {% else %}

        <span id="cart0-{{ p.id }}">
            <div class="cart">
                <a href="{% url 'cart_add_ajax' %}" class="add-to-cart" data-product-id="{{ p.id }}">
                    {% csrf_token %}
                <button class="cart-btn">
                        <img class="cart-img" src="{% static 'chipi/images/ShoppingCartSimple.png' %}" alt="">
                        <p class="cart-p">Добавить</p>
                    </button>
                </a>

        {% if p in fav_prod %}
        <a href="{% url 'rem_fav' product_id=p.id %}">
             <button class="heart-btn1">
                    <img class="heart-icon" src="{% static 'chipi/images/icons8-сердце-30.png' %}" alt="">
             </button>
        </a>
        {% else %}
        <a href="{% url 'add_fav' product_id=p.id %}">
            <button class="heart-btn1">
                    <img class="heart-icon" src="{% static 'chipi/images/Heart1.svg' %}" alt="">
             </button>
        </a>
        {% endif %}

            </div>
        </span>

        <span style="display: none;" id="cart1-{{ p.id }}">
            <div class="quantity0">
                <div class="quantity-block">
            <a href="{% url 'cart_decr_in_index_ajax' %}" class="cart-decr"
               data-product-id="{{ p.id }}">
                <button class="minus-btn">
                        <img class="kolvo-img1" src="{% static 'chipi/images/icons8-минус-24.png' %}" alt="">
                    </button>{% csrf_token %}
            </a>
                <p id="prod-count-{{ p.id }}" class="quantity">1</p>

            <a href="{% url 'cart_add_ajax' %}" class="cart-inc"
               data-product-id="{{ p.id }}" id="prod_nolast-{{ p.id }}">
                <button class="plus-btn">
                        <img class="kolvo-img2" src="{% static 'chipi/images/icons8-плюс-24.png' %}" alt="">
                    </button>{% csrf_token %}
            </a>

            <a style="display: none;" href="{% url 'cart_add_ajax' %}" class="cart-inc" id="prod_last-{{ p.id }}"
            data-product-id="{{ p.id }}">
                <button class="plus-btn">
                        <img class="kolvo-img2" src="{% static 'chipi/images/icons8-плюс-24.png' %}" alt="">
                    </button>
                {% csrf_token %}</a>
                </div>

        {% if p in fav_prod %}
        <a href="{% url 'rem_fav' product_id=p.id %}">
             <button class="heart-btn1">
                    <img class="heart-icon" src="{% static 'chipi/images/icons8-сердце-30.png' %}" alt="">
             </button>
        </a>
        {% else %}
        <a href="{% url 'add_fav' product_id=p.id %}">
            <button class="heart-btn1">
                    <img class="heart-icon" src="{% static 'chipi/images/Heart1.svg' %}" alt="">
             </button>
        </a>
        {% endif %}
            </div>

        </span>
        {% endif %}
                {% endif %}



        </div>


            {% if forloop.counter|divisibleby:5 %}

                </div>
                <div class="tovary">
            {% endif %}

        {% endfor %}

                    </div>
                </div>
<!--<br><br><br><br><br>-->









<link rel="stylesheet" href="{% static 'chipi/css/index.css' %}">


<!--        <div class="cards">-->
<!--            <div class="first-card">-->
<!--                <p class="cards-p1">Популярное</p>-->
<!--                <p class="cards-p2">ASUS ROG STRIX<br>SCAR 2</p>-->
<!--                <p class="cards-p3">Новый мощный игровой ноутбук<br>от ASUS</p>-->
<!--                <button class="cards-btn1">-->
<!--                    <p class="cards-p4">Купить</p>-->
<!--                     <img class='cards-img1' src="/фото/ArrowRight.png" alt="">-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="second-card">-->
<!--                <img class='cards-img2' src="/фото/image 28.png" alt="">-->
<!--            </div>-->
<!--            <div class="third-card">-->
<!--                <p class="cards-p5">Новинка</p>-->
<!--                <p class="cards-p6">Samsung Galaxy<br>S24 Ultra</p>-->
<!--                <button class="cards-btn2">-->
<!--                    <p class="cards-p4">Купить</p>-->
<!--                    <img class='cards-img1' src="/фото/ArrowRight.png" alt="">-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="fourth-card">-->
<!--                <img class="cards-img3" src="/фото/image 27.png" alt="">-->
<!--            </div>-->
<!--        </div>-->



        <div class="buttons">
            {% if prod.has_previous %}
            <a href="?page={{ prod.previous_page_number }}">
                <button class="buttons-btn1">
                    <img class='buttons-img1' src="{% static 'chipi/images/arrgreenleft.png' %}" alt="">
                </button>
            </a>
            {% endif %}

            {% for pg in prod.paginator.page_range %}
                {% if prod.number == pg %}
                     <button class="buttons-btn10">
                        <p class="buttons-p10">{{ pg }}</p>
                    </button>
                {% elif pg >= prod.number|add:-2 and pg <= prod.number|add:2 %}
                    <a href="?page={{ pg }}">
                        <button class="buttons-btn2">
                            <p class="buttons-p1">{{ pg }}</p>
                        </button>
                    </a>
                {% endif %}
            {% endfor %}

        {% if prod.has_next %}
            <a href="?page={{ prod.next_page_number }}">
                <button class="buttons-btn3">
                    <img class='buttons-img2' src="{% static 'chipi/images/arrgreenright.png' %}" alt="">
                </button>
            </a>
        {% endif %}
            </div>

<br><br>
<!--        <div class="reklama">-->
<!--            <img class='reklama-img' src="/фото/image 311.png" alt="">-->
<!--        </div>-->
        <div class="rassilka">
            <p class="rassilka-p1">Подпишитесь на нас для новостей</p>
        </div>
        <div class="rassilka1">
            <input class='rassilka1-input' type="text" placeholder="Email адрес">
            <button class="rassilka1-btn">
                <p class="rassilka1-p1">Подписаться</p>
                <img class="rassilka-img1" src="{% static 'chipi/images/ArrowRight.png' %}" alt="">
            </button>
        </div>


{% endblock %}