{% extends 'base.html' %}

{% block content %}
    <h1>ORDERS</h1>
    {% for order in orders %}
        {% if order.product.logo_image %}
        <p><img src="{{ order.product.logo_image.url }}" width="100" height="100"></p>
        {% endif %}
<!--    <p>{{ order.title }}{{ order.product.id }}</p>-->
    <p><a href="{{ order.product.get_absolute_url }}">{{ order.title }}</a></p>
    <p>{{ order.count }} x {{ order.price }} RUB</p>
<!--    {% if order.status == 0 %}-->
<!--    <p>Status: оплачен</p>-->
<!--    {% else %}-->
<!--    <p>hui</p>-->
<!--    <p>Status: {{ order.status }}</p>-->
<!--    {% endif %}-->
        <p>Статус: <b>{{ order.get_status_display }}</b></p>
<hr>
    {% endfor %}

<br><br><br><br><br>
{% endblock %}