{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'chipi/css/search.css' %}">

<div class="filter1">
    <form action="{% url 'search' %}" method="get" id="searchForm">
            <input class="search" type="text" name="q" placeholder="Search.." value="{{ search_text }}" hidden="hidden">

        <div class="left-filter">
<!--            <div class="right-filter-line12">-->
<!--                <select name="kategory" id="">-->
<!--                    <option class="right-filter-line12-p" value="1">По популярности</option>-->
<!--                    <option class="right-filter-line12-p" value="2">По рейтингу</option>-->
<!--                    <option class="right-filter-line12-p" value='3'>По возрастанию цены</option>-->
<!--                    <option class="right-filter-line12-p" value="4">По убыванию цены</option>-->
<!--                    <option class="right-filter-line12-p" value="5">По новизне</option>-->
<!--                </select>-->
<!--            </div>-->
            <p class="filter-p">КАТЕГОРИИ</p>
            {% for ctgr in ctgs %}

            <div class="left-filter-1">
                 <a style="text-decoration:none; margin-top:9px;" href="{% url 'category' category_slug=ctgr.slug %}?s={{ search_text }}&min_price={{ min_pr }}&max_price={{ max_pr }}">

                    <input type="radio" name="cat" id="1" class="real-radio">

                    <span class="custom-radio"></span>
                    <label style="color: black;" for="1">{{ ctgr.name }}</label>
    </a>
            </div>

            {% endfor %}




            <p class="poloska"></p>
            <div class="price">
                <p class="price-p">ЦЕНА</p>
                <div class="prices">
                  <div class="min-price">

                    <input type="number" class="input-min search" name="min_price" value="{{ min_pr }}">
                  </div>
                  <div class="max-price">
                    <input type="number" class="input-max search" name="max_price" value="{{ max_pr }}">
                  </div>
                </div>
                <div class="slider">
                  <div class="progress"></div>
                </div>
                <div class="range-input">
                  <input type="range" class="range-min" min="0" max="1000000" value="0">
                  <input type="range" class="range-max" min="0" max="1000000" value="1000000">
                </div>
            </div>
        </div>
        </form>

        <div class="right-filter">
            <div class="right-filter-line1">
                <div class="right-filter-line11">
                    <p class="right-filter-line11-p">Фильтры:</p>
                    <p class="right-filter-line11-p1">Электроника</p>
                    <img class="right-filter-line11-img" src="{% static 'chipi/images/X.png' %}" alt="">
                    <p class="right-filter-line11-p1">Электроника</p>
                    <img class="right-filter-line11-img" src="{% static 'chipi/images/фото1/X.png' %}" alt="">
                    <p class="right-filter-line11-p1">Электроника</p>
                    <img class="right-filter-line11-img" src="{% static 'chipi/images/фото1/X.png' %}" alt="">
                    <p class="right-filter-line11-p2">6</p>
                    <p class="right-filter-line11-p3">Результатов найдено</p>
                </div>
            </div>
        </div>


</div>





    <form action="{% url 'search' %}" method="get" id="searchForm">
            <input class="search" type="text" name="q" placeholder="Search.." value="{{ search_text }}" hidden="hidden">
            Min price: <input class="search" type="text" name="min_price" placeholder="min" value="{{ min_pr }}">
            Max price: <input class="search" type="text" name="max_price" placeholder="max" value="{{ max_pr }}">
            </form>
            {% for ctgr in ctgs %}
<a href="{% url 'category' category_slug=ctgr.slug %}?s={{ search_text }}&min_price={{ min_pr }}&max_price={{ max_pr }}">
{{ ctgr.name }}</a>
            {% endfor %}
        <script>
    document.getElementById('searchForm').addEventListener('keypress', function(e) {
        if (e.key === 'Enter') {
            this.submit();
        }
    });
    </script>
<hr>



{% for p in prod %}
        {% if p.logo_image %}
        <img src="{{ p.logo_image.url }}" width="100" height="100">
        {% endif %}
    {% if p.count == 0 %}
        <p><b><s>{{ p.title }}</s></b></p>
    {% else %}
        <p><b>{{ p.title|upper }}</b></p>
    {% endif %}

        {% if p.mark %}
        <p>☆{{ p.mark|floatformat:1 }}</p>
        {% else %}
        <p>☆ 0.0</p>
        {% endif %}
    <p>{{ p.price }}₽</p>
    <a href="{{ p.get_absolute_url }}">click</a>
    {% if user.is_buyer %}

    <ul>{% if p.count_in_cart %}
        <span style="display: none;" id="cart0-{{ p.id }}">
            <a href="{% url 'cart_add_ajax' %}" class="add-to-cart" data-product-id="{{ p.id }}">
                {% csrf_token %}
            <button>Добавить в корзину&#128465</button>
            </a>
        </span>

        <span id="cart1-{{ p.id }}">
            <a href="{% url 'cart_decr_in_index_ajax' %}" class="cart-decr"
               data-product-id="{{ p.id }}"><button>-</button>{% csrf_token %}</a>
            <span id="prod-count-{{ p.id }}">{{ p.count_in_cart }}</span>
            {% if p.count_in_cart == p.count %}
                <a href="{% url 'cart_add_ajax' %}" class="cart-inc" id="prod_last-{{ p.id }}"
                   data-product-id="{{ p.id }}"><button disabled="true">+</button>{% csrf_token %}</a>
                <a style="display: none;" href="{% url 'cart_add_ajax' %}" class="cart-inc" id="prod_nolast-{{ p.id }}"
                data-product-id="{{ p.id }}"><button>+</button>{% csrf_token %}</a>
            {% else %}
                <a href="{% url 'cart_add_ajax' %}" class="cart-inc" id="prod_nolast-{{ p.id }}"
                   data-product-id="{{ p.id }}"><button>+</button>{% csrf_token %}</a>
                <a style="display: none;" href="{% url 'cart_add_ajax' %}" class="cart-inc" id="prod_last-{{ p.id }}"
                data-product-id="{{ p.id }}"><button disabled="true">+</button>{% csrf_token %}</a>
            {% endif %}
        </span>

        {% else %}

        <span id="cart0-{{ p.id }}">
            <a href="{% url 'cart_add_ajax' %}" class="add-to-cart" data-product-id="{{ p.id }}">
                {% csrf_token %}
            <button>Добавить в корзину&#128465</button>
            </a>
        </span>

        <span style="display: none;" id="cart1-{{ p.id }}">
            <a href="{% url 'cart_decr_in_index_ajax' %}" class="cart-decr"
               data-product-id="{{ p.id }}"><button>-</button>{% csrf_token %}</a>
                <span id="prod-count-{{ p.id }}"> 1 </span>
            <a href="{% url 'cart_add_ajax' %}" class="cart-inc"
               data-product-id="{{ p.id }}" id="prod_nolast-{{ p.id }}"><button>+</button>{% csrf_token %}</a>
            <a style="display: none;" href="{% url 'cart_add_ajax' %}" class="cart-inc" id="prod_last-{{ p.id }}"
            data-product-id="{{ p.id }}"><button disabled="true">+</button>{% csrf_token %}</a>

        </span>
        {% endif %}

        {% if p in fav_prod %}
        <a style="color: red; text-decoration: none; font-size: 25px" href="{% url 'rem_fav' product_id=p.id %}">
            ♥
            </a>
        {% else %}
        <a style="color: black; text-decoration: none; font-size: 25px" href="{% url 'add_fav' product_id=p.id %}">
            ♥
            </a>
        {% endif %}


    </ul>

    {% endif %}

    <p>shop:<a href="{{ p.shop.get_absolute_url }}">{{ p.shop.name }}</a> </p>
    {% if not forloop.last %}
    <hr>
    {% endif %}
    {% endfor %}

<script src="{% static 'chipi/js/search.js' %}"></script>

{% endblock %}